<header>
  <div>
    <img src="/images/logo.svg" alt="logo of app" />
    <nav>
        <ul>
            <li>
                <a href="#">Login</a>
            </li>
            <li>
                <a href="#">register</a>
            </li>
        </ul>
    </nav>
  </div>
</header>
