<!DOCTYPE html>
<html lang="en">
<head>
  <title>API 23-24 | Home</title>
  <%- include('../partials/head'); %>
</head>
<body>
  <%- include('../partials/header'); %>

  <main>
    <%- include('../components/movies'); %>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
